{% extends 'SonataAdminBundle:Core:dashboard.html.twig' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>This is my dashboard</h1>
        </div>
    </div>
{% endblock %}
