{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
{% if object.status == 'PENDING' %}
<span class="label label-danger">{{ object.status }}</span>
{% elseif object.status == 'DELIVERED' %}
<span class="label label-success">{{ object.status }}</span>
{% elseif object.status == 'PURCHASED' %}
<span class="label label-warning">{{ object.status }}</span>
{% endif %}
{% endblock %}
