.logo img {
    display: inline;
    padding-bottom: 4px;
    max-height: 100%;
    max-width: 160px;
}

.skin-black .main-header .navbar{
    background-color: #b74025;
}

.skin-black .main-header .navbar li, .skin-black .main-header .navbar a{
    color: #fff !important;
}

.skin-black .main-header .navbar a:hover{
    color: #000 !important;
}
